<div class="d-flex justify-content-between">
 <button routerLink="/register" mat-raised-button color="primary"> <i class="fa fa-arrow-left">Back to Register Page</i>
  <i class="fa fa-arow-left"></i>
</button>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
  </mat-form-field>
</div>

  
  <div class="mat-elevation-z8">
    
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
    
      <!-- fristName Column -->
      <ng-container matColumnDef="fristName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> fristName </th>
        <td mat-cell *matCellDef="let row"> {{row.fristName}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> lastName </th>
        <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
       
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone</th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Height</th>
        <td mat-cell *matCellDef="let row"> {{row.height}} </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
        <td mat-cell *matCellDef="let row"> {{row.weight}} </td>
      </ng-container>

      <ng-container matColumnDef="trainer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trainer </th>
        <td mat-cell *matCellDef="let row"> {{row.trainer}} </td>
      </ng-container>

  <!--     <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Package</th>
        <td mat-cell *matCellDef="let row"> {{row.package}} </td>
      </ng-container>

      <ng-container matColumnDef="gymcond">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gymcond</th>
        <td mat-cell *matCellDef="let row"> {{row.gymcond}} </td>
      </ng-container> -->

      <ng-container matColumnDef="gym">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gym</th>
        <td mat-cell *matCellDef="let row"> {{row.gym}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row"> 
        <button mat-icon-button color="basic" [routerLink]="['/detail',row.id]"><i class="fa fa-eye"></i></button>    
        <button mat-icon-button color="primary" (click)="edit(row.id)"><i class="fa fa-pencil"></i></button>    
        <button (click)="delete(row.id,row.fristName, row.lastName)" mat-icon-button color="basic"><i class="fa fa-trash"></i></button>    
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
